.rates {
  padding: 25px 50px;
  border: 1px solid #555;
  border-radius: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}

#excel {
  display: none;
}

.btn {
  cursor: pointer;
  background-color: #3548b1;
  padding: 10px 20px;
  border: 1px solid transparent;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-top: 15px !important;
}

input[type="number"] {
  padding: 5px;
  margin-top: 5px;
}

.Draw {
  display: flex;
}

.form {
  width: 30%;
  padding: 0 50px;
}

.result {
  width: 70%;
}
