.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#excel {
  display: none;
}

.btn {
  cursor: pointer;
  background-color: steelblue;
  padding: 10px 20px;
  border: 1px solid transparent;
  text-align: center;
  color: white;
  border-radius: 10px;
  width: 100px;
  margin: 0 auto;
}

.Order {
  text-align: center;
}
